<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=192.168.168.158;Initial Catalog=lr2018;User ID=sa;Password=rmyy_123" providerName="System.Data.SqlClient" />
  <add name="skzy" connectionString="Server=192.168.168.60,1455;Initial Catalog=skzy;User ID=sa;Password=rmyy_123" providerName="System.Data.SqlClient" />
</connectionStrings>